#root {
  max-width: 480px;
  margin: 0 auto;
  /* padding: 1.5rem; */
  /* text-align: center; */
  background-color: #f5f5f5;
  color: #4a4a4a;
  min-height: 100vh;
}

/* Gaya scrollbar global WebKit */
::-webkit-scrollbar {
  width: 2px; /* Sesuaikan lebar scrollbar sesuai keinginan */
  height: 2px; /* Sesuaikan tinggi scrollbar sesuai keinginan */
}

::-webkit-scrollbar-thumb {
  background-color: #dcdcdc; /* Warna abu-abu lebih gelap */
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Sembunyikan scrollbar ketika tidak di-scroll */
::-webkit-scrollbar-thumb:hover {
  background-color: #4a4a4a; /* Warna abu-abu lebih gelap saat dihover */
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(1px);
  }
}

button:active {
  animation: bounce 0.3s ease;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}

.shimmer-div {
  background: linear-gradient;
  animation: shimmer 2s infinite linear;
}

@keyframes shimmer {
  from {
    transform: translateX(percentage);
  }
  to {
    transform: translateX(percentage);
  }
}
